.cocktail-container {
  position: relative;
  min-width: 300px;
  background-color: rgba(186, 83, 222, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  margin: 0 auto;
}

.cocktail-container:hover {
  transform: scale(1.1);
}

.cocktail-container .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5em 0;
  color: #fff;
}

.cocktail-container h3 {
  font-size: 1.5rem;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 50%;
  margin: 0;
}

.cocktail-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.cocktail-container .link {
  cursor: pointer;
}

.cocktail-container .link:hover {
  text-decoration: underline;
}

.fas.fa-heart,
.far.fa-heart {
  font-size: 1.5rem;
  color: #6AFFDD;
}

.cocktail-container .fas.fa-heart,
.cocktail-container .far.fa-heart {
  position: absolute;
  top: 1.3em;
  right: 1.3em;
}

.disclaimer {
  background-color: red;
  border-radius: 50px;
  padding: 0.3em 1.2em;
  color: #fff;
  display: inline-block;
}

.cocktail-container .disclaimer {
  position: absolute;
  top: calc(300px - 2em);
  right: 2em;
}

/* MODAL */
.cocktail-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.cocktail-modal-content {
  position: relative;
  width: 80%;
  margin: 15% auto;
  background-color: #fff;
  padding: 1em 3em;
}

.cocktail-modal-content .main-content {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.cocktail-modal-content .data {
  position: relative;
  margin-top: 2.5em;
}

.cocktail-modal-content h3 {
  font-size: 2rem;
  text-align: center;
  margin: 0.8em 0;
}

.cocktail-modal-content img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.fas.fa-times {
  font-size: 1.5rem;
  color: #6AFFDD;
}

.cocktail-modal-content .fas.fa-times {
  font-size: 1.5rem;
  color: #6AFFDD;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.cocktail-modal-content .fas.fa-times:hover {
  opacity: 0.5;
}

.category {
  background-color: #A5E36B;
  border-radius: 50px;
  padding: 0.3em 1.2em;
  color: #fff;
  display: inline-block;
}

.cocktail-modal-content .disclaimer {
  position: absolute;
  top: calc(500px - 1em);
  right: 1em;
  transform: translateY(-100%);
}

.cocktail-modal-content .category {
  position: absolute;
  top: calc(500px - 1em);
  left: 1em;
  transform: translateY(-100%);
}

.cocktail-modal-content .fas.fa-heart,
.cocktail-modal-content .far.fa-heart {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
}