.navbar {
  width: 100%;
  height: 6em;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar .links {
  display: flex;
  margin: 0 1em;
  gap: 3em;
}

.navbar a {
  font-size: 1.25rem;
  color: #fff;
}

.navbar a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.navbar .input-container {
  position: relative;
}

.navbar input {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  border-radius: 50px;
  padding: 0.3em 1em;
}

.navbar i {
  font-size: 1.2rem;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}